{
  "ecmaFeatures": {
    "modules": true,
    "experimentalObjectRestSpread": true,
    "classes": true,
    "arrowFunctions" : true,
    "blockBindings": true,
    "jsx": true
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "standard",
  ],
  "globals": {
    "document": true,
    "navigator": false,
    "window": true
  },
  "rules": {
    "eqeqeq": 0,
    "strict": 0,
    "no-debugger": 2,
    "no-else-return": 2,
    "curly": 2, // http://eslint.org/docs/rules/curly,
    "no-invalid-this": 2, // http://eslint.org/docs/rules/no-invalid-this,
    "camelcase": 1, // http://eslint.org/docs/rules/camelcase,
    "no-lonely-if": 1, // http://eslint.org/docs/rules/no-lonely-if
    "no-this-before-super": 2,
    "no-dupe-class-members": 2,
    "valid-jsdoc": 1,
    "comma-style": [2, "last"]
  }
}